* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d0d31;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  color: #fefefe;
  background-color: #3b2e56;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: #fefefe;
}

nav ul li a:hover {
  color: rgb(111, 111, 210);
  font-size: 1.1rem;
}

main hr {
  border: 0;
  background: rgb(143, 143, 196);
  height: 2px;
  margin: 13px 73px;
}

.left {
  font-size: 2rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px 0;
}

.firstSection > div {
  width: 40%;
}

.firstSection button {
  padding: 12px 16px;
  background-color: rgb(18, 38, 78);
  color: #fefefe;
  margin: 23px 100px;
  border: 2px solid;
  font-size: 20px;
  border-radius: 13px;
}
.leftSection {
  font-size: 2.9rem;
  color: #fefefe;
}

.rightSection img {
  width: 100%;
}

.purple {
  color: rgb(43, 62, 148);
}

#element {
  color: rgb(43, 62, 148);
}

.secondSection h1 {
  color: #fefefe;
  font-size: 2rem;
  margin: 0 83px;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
  gap: 23px;
}

.container .box {
  width: 33%;
  height: 95%;
  border: 1px solid lavender;
}

.container .edu {
  padding: 29px;
}

.edu h3 {
  color: #fefefe;
  margin: 5px 0;
}

.edu .line {
  width: 40px;
  height: 1px;
  background: #fefefe;
  margin-bottom: 23px;
}

.edu .degree {
  font-size: 18px;
  font-weight: 500;
  color: #9c8585;
}

.edu span {
  color: #746969;
}

.edu .desc {
  margin: 15px 0;
  color: #9c8585;
}

.container .details {
  padding: 29px;
}

.details h3 {
  color: #fefefe;
  margin: 5px 0;
}

.details .line {
  width: 40px;
  height: 1px;
  background: #fefefe;
  margin-bottom: 23px;
}

.details .degree {
  font-size: 18px;
  font-weight: 500;
  color: #9c8585;
  margin: 15px 0;
}

.details #social img {
  margin: 34px 20px;
  width: 60px;
  height: 60px;
}

.container .skills {
  padding: 29px;
}

.skills h3 {
  color: #fefefe;
  margin: 5px 0;
}

.skills .line {
  width: 40px;
  height: 1px;
  background: #fefefe;
  margin-bottom: 23px;
}

.skills .degree {
  font-size: 18px;
  font-weight: 500;
  color: #9c8585;
  margin: 15px 0;
}

.skills .desc {
  margin: 15px 0;
  color: #9c8585;
}

footer {
  display: flex;
  justify-content: space-around;
  color: lavender;
  background-color: #2e2a3c;
  margin-top: 60px;
  align-items: center;
  padding: 15px 0;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3px;
}

footer ul li a {
  text-decoration: none;
  color: #fefefe;
}

@media only screen and (max-width: 1411px) {
  .container .edu,
  .container .details,
  .container .skills {
    padding: 10px;
  }

  .edu .line,
  .details .line,
  .skills .line {
    margin-bottom: 0;
  }

  .edu .degree,
  .details .degree,
  .skills .degree {
    font-size: 15px;
    color: #fefefe;
  }

  .edu .desc,
  .skills .desc {
    margin: 6px 0;
  }

  .skills .desc {
    font-size: 15px;
  }

  .details #social {
    padding: 0 40px 0 40px;
  }

  .details #social img {
    margin: 34px 10px;
  }
}

@media only screen and (max-width: 1315px) {
  .leftSection {
    font-size: 2.35rem;
  }

  .firstSection button {
    padding: 12px 16px;
    margin: 17px 70px;
    font-size: 18px;
    border-radius: 13px;
  }

  .skills .desc,
  .edu .desc {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1065px) {
  .leftSection {
    font-size: 1.7rem;
  }

  .container {
    margin: 0 20px;
    gap: 13px;
  }

  .firstSection button {
    padding: 5px 15px;
    margin: 17px 45px;
    font-size: 16px;
    border-radius: 13px;
  }

  .skills .degree {
    margin: 5px 0;
  }

  .details #social img {
    width: 45px;
    height: 45px;
  }

  .details #social img {
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 775px) {
  .edu h3,
  .details h3,
  .skills h3 {
    margin: 0;
  }

  .edu .line,
  .details .line,
  .skills .line {
    margin-bottom: 3px;
  }

  .edu .desc,
  .skills .desc {
    font-size: 14px;
    margin: 0;
  }

  main hr {
    margin: 6px 73px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 775px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  nav {
    flex-direction: column;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a:hover {
    font-size: 0.5rem;
  }

  .left {
    font-size: 1.3rem;
  }

  .firstSection {
    margin: 50px 0;
  }

  .leftSection {
    font-size: 1.4rem;
    padding: 0 15px;
  }

  .firstSection > div {
    width: 50%;
  }

  .firstSection button {
    padding: 5px 5px;
    margin: 9px 8px;
    font-size: 12px;
    border-radius: 9px;
  }

  .secondSection h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .secondSection {
    margin-bottom: 150px;
  }
  .container {
    display: inline-block;
  }

  .container .box {
    width: 95%;
    margin: 12px 0;
    text-align: center;
    height: 70%;
  }

  .edu .line,
  .details .line,
  .skills .line {
    margin-left: 45%;
  }

  .edu .degree,
  .details .degree,
  .skills .degree {
    font-size: 14px;
    color: #fefefe;
  }

  .edu .desc,
  .skills .desc {
    margin: 6px 0;
    font-size: 12px;
  }

  footer {
    bottom: 0;
    width: 100%;
    height: 130px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    flex-direction: column-reverse;
  }

  footer ul {
    flex-direction: row;
    gap: 20px;
  }

  .details #social img {
    margin: 0px 10px;
  }
}
